header {
  font-family: Arial, Helvetica, sans-serif;
  color: aqua;
  background-color: white;
  text-align: center;
  padding: 5px;
}

nav {
  font-size: 25px;
}

nav {
  font-family: Arial, Helvetica, sans-serif;
  background-color: red;
  float: left;
  padding: 5px;
  font-style: italic;
}

body {
  background-color: cadetblue;
}

footer {
  font-size: 20px;
  background-color: black;
  color: white;
  clear: both;
  text-align: center;
  padding: 5px;
}

p {
  font-size: 20px;
}
