.inner-title {
    font-size: 21px;
}

h2{
    color: #9E1D1D;
}

.inner-box {
    margin: 15px 0;
}


.gift i,
.gift p {
    display: inline; 
    margin-right: 5px; 
}

.clock i, 
.clock p {
    display: inline; 
    margin-right: 5px;
}

.bookmark i, 
.bookmark p {
    display: inline; 
    margin-right: 5px;
}

.inner-box i{
    color: #9E1D1D;
}

.img1 {
    max-width: 100%;
    height: 100%;
}
